<div>
    <div class="top-container">
        <div class="top-container-left">
            <p>
                <strong>{{dapan}}dapan</strong>&nbsp;&nbsp;的相册
            </p>
        </div>
        <div class="top-container-right">
            <ul>
                <li>
                    <button>回收站</button>
                </li>
                <li>
                    <button ng-click="showPopup('createPopup')" >创建相册</buttonshowPopup>
                </li>
            </ul>
        </div>
    </div>
    <div class="album-container">
        <div class="album-item">
            <div class="pic-con">
                <span class="large">
                    <img src="" alt="">
                </span>
                <span>
                    <img src="" alt="">
                </span>
                <span>
                    <img src="" alt="">
                </span>
                <span>
                    <img src="" alt="">
                </span>
                <span>
                    <img src="" alt="">
                </span>
                <span>
                    <img src="" alt="">
                </span>
            </div>
            <div class="album-detail">
                <p>
                    <a href="">相册名</a>
                </p>
                <p>
                    <a>相片数</a>
                    <a>私密</a>
                    <a>删除</a>
                    <a>编辑</a>
                    <a>管理</a>
                </p>
            </div>
        </div>
    </div>
    <div class="createPopup" id="createPopup">
        <div id="drag-popup" draggable="true">
            <div class="create-header">
                <p>创建相册</p>
                <span ng-click="closePopup('createPopup')">×</span>
            </div>
            <div class="create-content">
                <div>
                    <label for="album-name">相册名称：</label>
                    <input type="text" id="album-name">
                </div>
                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">公开相册</label>
                </div>
            </div>
            <div class="create-footer">
                <button>确认</button>
                <button ng-click="closePopup('createPopup')">取消</button>
            </div>
        </div>
    </div>
</div>